{% extends "templates/master.html" %}

{% block pageTitle %}
    Create Capability
{% endblock %}

{% block content %}
    <form action="/capabilities/create" method="POST">
        <div class="form-group">
            <label for="capabilityName"><b>Capability Name</b></label>
            <input type="text" id="capabilityName" name="capabilityName" value="{{ capabilityName }}" required class="form-control"><br>
        </div>

        <a href="/" class="bg-kainos-blue btn btn-primary text-white">Cancel</a>
        <button type="submit" class="bg-kainos-blue btn btn-success">Create</button>
    </form>
{% endblock %}
