{% extends "templates/master.html" %}

{% block pageTitle %}
    Delete Job Role Confirmation
{% endblock %}

{% block content %}
<form action="/delete-job-role/{{ jobRole.jobRoleID }}" method="post">
    <h2>Name</h2>
    <p>
        {{ jobRole.jobRoleName }}
    </p>
    <h2>Band</h2>
    <p>
        {{ jobRole.band.bandName }}
    </p>
    <h2>Capability</h2>
    <p>
        {{ jobRole.capability.capabilityName }}
    </p>
    <div>
        <a href="/job-roles" class="white btn btn-primary" id="cancel">Cancel</a>
        <button type="submit" class="btn btn-danger">Confirm Deletion</button>
    </div>
</form>
{% endblock %}






