{% extends "templates/master.html" %}

{% block pageTitle %}
    Delete Job Role Confirmation
{% endblock %}

{% block content %}
<form action="/delete-job-role/{{ jobRole.jobRoleID }}" method="post">
    <h2>Name</h2>
    {{ jobRole.jobRoleName }}
    <h2>Band</h2>
    {{ jobRole.band.bandName }}
    <h2>Capability</h2>
    {{ jobRole.capability.capabilityName }}
    <div>
        <button type="submit" class="btn btn-primary" style="margin-top: 20px;">Delete</button>
    </div>
</form>
{% endblock %}






