{% extends "templates/master.html" %}

{% block pageTitle %}
    Home
{% endblock %}

{% block content %}
    <!-- Put links to stuff here -->
    <h3> Job Roles </h3>
    <p>
        <a href="/job-roles" type="submit" class="btn btn-primary text text-white">View Job Roles</a>
        <a href="/job-roles/matrix" type="submit" class="btn btn-primary text text-white">View Matrix</a>
    <p>
    {% if user.role.roleName == "Admin" %}
    <h3> Capabilities </h3>
    <p>
        <a href="/capabilities/create" type="submit" class="btn btn-primary text text-white">Create Capability</a>
    </p>
    {% endif %}
{% endblock %}

