{% extends "templates/master.html" %}

{% block pageTitle %}
    Job Roles
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <p>Current job roles at Kainos</p>
        </div>
        <div class="col text-right gap-2 mb-2">
            {% if filtered %}
            <a href="/job-roles" class="white btn btn-danger">Remove Filter</a>
            <a href="/job-roles/filter?{{ currentFilterParams }}" class="white btn btn-primary">Change Filter</a>
            {% else %}
            <a href="/job-roles/filter" class="white btn btn-primary">Filter</a>
            {% endif %}
        </div>
    </div>
    <table id="job-roles-table">
        <tr>
            <th>Role</th>
            <th>Band</th>
            <th>Capability</th>
            <th>Actions</th>
            <th>Edit</th>
        </tr>
        {% for jobRole in jobRoles %}
            <tr>
                <td>{{ jobRole.jobRoleName }}</td>
                <td>{{ jobRole.band.bandName }}</td>
                <td>{{ jobRole.capability.capabilityName }}</td>
                <td><a href="/job-roles/{{ jobRole.jobRoleID }}">View</a></td>
                <td><a href="/job-roles/edit/{{ jobRole.jobRoleID }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}