{% extends "templates/master.html" %}

{% block pageTitle %}
    Job Roles
{% endblock %}

{% block content %}
    <p>Current job roles at Kainos</p>
    <table>
        <tr>
            <th>Role</th>
            <th>Band</th>
            <th>Capability</th>
            <th></th>
        </tr>
        {% for jobRole in jobRoles %}
            <tr>
                <td>{{ jobRole.jobRoleName }}</td>
                <td>{{ jobRole.band.bandName }}</td>
                <td>{{ jobRole.capability.capabilityName }}</td>
                <td><a href="/job-roles/{{ jobRole.jobRoleID }}">View</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}