{% extends "templates/master.html" %}

{% block pageTitle %}
    Job Roles Matrix
{% endblock %}

{% block content %}

    {% if matrix.bands | length == 0 or matrix.capabilities | length == 0 %}
        <h5>There are either no bands or no capabilities, thus matrix cannot be displayed. </h5>
    {% else %}
        <p>A matrix of the job roles belonging to each band (row) and capability (column).</p>
        
        <table id="matrix-table" class="table table-bordered">
            <tr>
                <th scope="col" class="align-middle text-center">Band</th>

                {% for capability in matrix.capabilities %}
                    <th scope="col" class="align-middle text-center">
                        {{ capability.capabilityName }}
                    </th>
                {% endfor %}
            </tr>

            {% for band in matrix.bands %}
                <tr>
                    <th scope="row" class="align-middle text-center">
                        {{ band.bandName }}
                    </th>

                    {% for roles in matrix.jobRolesGrid[loop.index0] %}
                        <td class="align-middle text-center">
                            {% for role in roles %}
                                <div>
                                    <a href="/view-job-role/{{ role.jobRoleID }}" class="p-3">
                                        {{ role.jobRoleName }}
                                    </a>
                                </div>
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}