{% extends "templates/master.html" %}

{% block pageTitle %}
    Login
{% endblock %}

{% block content %}
<div class="container">
    {% if errormessage %}
    <div class="alert alert-danger" role="alert" id="errorMessage">
        {{ errormessage }}
    </div>
    {% endif %}
    <p>Enter your credentials</p>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" class="form-control" value="{{ email }}"required>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="form-control" value="{{ password }}" required>
        </div>
        <button type="submit" class="btn btn-blue">Login</button>
    </form>
</div>
{% endblock %}