{% extends "templates/master.html" %}

{% block pageTitle %}
    {{ jobRole.jobRoleName }}
{% endblock %}

{% block content %}
    <h2 id="summary">Summary</h2>
    <p>
        {{ jobRole.jobSpecSummary }}
    </p>
    <h2>Band</h2>
    <p>
        {{ jobRole.band.bandName }}
    </p>
    <h2>Capability</h2>
    <p>
        {{ jobRole.capability.capabilityName }}
    </p>
    <h2>Responsibilities</h2>
    <p>
        {{ jobRole.responsibilities }}
    </p>
    <h2>Sharepoint</h2>
    <p>
        <a href="{{ jobRole.sharePoint }}">View SharePoint</a>
    </p>
    <div>
        <a href="/job-roles" class="white btn btn-primary" id="cancel">Return</a>
        {% if user.role.roleName == "Admin" %}
        <a href="/job-roles/edit/{{ jobRole.jobRoleID }}" class="white btn btn-primary" id="cancel">Edit</a>
        <a href="/delete-job-role/{{ jobRole.jobRoleID }}" class="btn btn-danger text-white">Delete</a>
        {% endif %}
    </div>
{% endblock %}

