{% extends "templates/master.html" %}

{% block pageTitle %}
    Edit Job Role
{% endblock %}

{% block content %}
    <form action="/job-roles/edit/{{jobRoles.jobRoleID}}" method="POST" class="form-control">

        <label for="jobRoleName">Role:</label>
        <input type="text" id="jobRoleName" name="jobRoleName" value="{{ jobRoles.jobRoleName }}" required class="form-control"><br>
        
        <div class="form-group">
            <label for="band">Band:</label>
            <select  id="band" name="band" required class="form-control">
                {% for band in bands %}
                    <option value="{{ band.bandID }}" {% if band.bandID == jobRoles.band.bandID %} selected {% endif %}>
                        {{ band.bandName }}
                    </option>
                {% endfor %}
            </select>
        </div>

         <div class="form-group"> 
        <label for="capability">Capability:</label>
        <select id="capability" name="capability" required class="form-control">  
            {% for capability in capabilities %}
                <option value="{{ capability.capabilityID }}" {% if capability.capabilityID == jobRoles.capability.capabilityID %} selected {% endif %}>
                    {{ capability.capabilityName }}
                </option>
            {% endfor %}
        </select>
        </div>  

        <div  class="form-group">
            <label for="jobSpecSummary">Job Spec Summary:</label>
            <textarea  id="jobSpecSummary" name="jobSpecSummary" required class="form-control">{{jobRoles.jobSpecSummary}}</textarea>
        </div>
        
        <div  class="form-group">
            <label for="responsibilities">Responsibilities:</label>
            <textarea id="responsibilities"  name="responsibilities" required class="form-control">{{jobRoles.responsibilities}}</textarea>
        </div>
        
        <div  class="form-group">
            <label for="sharePoint">SharePoint:</label>
            <input id="sharePoint"  name="sharePoint" value="{{jobRoles.sharePoint}}" required class="form-control"></input>
        </div>

        <button type="submit" class="form-control">Save Changes</button>

    </form>
    <a href="/job-roles">Cancel</a>
   </div>
{% endblock %}
