:root {
    --kainos-blue: #283583;
    --kainos-green: #61a83f;
    --kainos-mid-blue: #41679f;
    --kainos-dark-green: #004631;
    --kainos-grey: #575756;
    --kainos-orange: #ec6608;
    --kainos-bright-green: #cfd600;
    --kainos-bright-blue: #009fe3;
}

.bg-kainos-blue {
    background-color: var(--kainos-blue);
}